.book-shelf {

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: baseline;
    margin-bottom: 20px;
  }

  &__link {
    text-decoration: none;
    color: $link-color;
  }

  &__title {
  }

  &__list {
    display: flex;
    justify-content: space-between;
  }

  &__item {
  }

  &__container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 40px;
  }

}
