.book-list {

  &__item {
    display: flex;
    margin: auto;
  }

  &__container {
    display: grid;
    grid-row-gap: 30px;

    @media (min-width: $screen-s) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 40px;
      grid-row-gap: 60px;
    }

    @media (min-width: $screen-l) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 80px;
    }
  }

}
