.book-shelf {

  &__header {
    margin-bottom: 20px;

    @media (min-width: $screen-s) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    @media (min-width: $screen-l) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  &__list {
    display: flex;
    flex-wrap: nowrap;
    overflow: visible;
    min-width: 1200px;
    margin-bottom: 70px;

    @media (min-width: $screen-s) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }

    @media (min-width: $screen-l) {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }

  &__link a {
    text-decoration: none;
    color: $link-color;
  }

  &__item {
    margin-right: 30px;
    z-index: 1;
  }

  &__title {
    font-size: $font-size-l;
    margin-bottom: 20px;
  }

  &__container {
    display: flex;
    overflow-x: scroll;
  }

}
