.btn {
  display: inline-block;
  vertical-align: middle;
  padding: 6px 20px;
  border: none;
  border-radius: $border-radius;
  font-size: $font-size;
  text-align: center;
  font-weight: 400;
  color: #fff;
  background-color: #000;
  text-decoration: none;
  cursor: pointer;
  user-select: none;
  transition: all 0.3s;

  &:hover,
  &:focus {
    background-color: pink;
  }

  &:disable {}
  &:active {}
}
