.delivery {
  position: relative;
  max-width: 300px;
  margin: auto;
  border-right: 8px solid $gray-lighten;
  border-left: 8px solid $gray-lighten;
  font-family: Montserrat, sans-serif;

    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      width: 50px;
      height: 8px;
      background-color: $gray-lighten;
    }

    &:after {
      content: '';
      position: absolute;
      top: 0;
      right: 0;
      width: 40%;
      height: 8px;
      background-color: $gray-lighten;
    }

  @media (min-width: $screen-s) {
    max-width: 740px;
  }

  @media (min-width: $screen-l) {
    max-width: 1200px;
  }

  &__wrapper {

    &:before {
      content: '';
      position: absolute;
      bottom: 0;
      right: 0;
      width: 50px;
      height: 8px;
      background-color: $gray-lighten;
    }

    &:after {
      content: '';
      position: absolute;
      bottom: 0;
      left: 0;
      width: 40%;
      height: 8px;
      background-color: $gray-lighten;
    }
  }


  &__title {
    padding: 30px 15px 0;
  }

  &__subtitle {
    color: $gray-dark;
    padding: 0 15px;

  }

  &__list {
    display: grid;
    grid-row-gap: 30px;
    padding: 30px;


    @media (min-width: $screen-s) {
      display: grid;
      grid-template-columns: 1fr 1fr;
      grid-column-gap: 100px;
      grid-row-gap: 60px;
    }

    @media (min-width: $screen-l) {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr 1fr;
      grid-column-gap: 80px;
    }
  }

  &__item {
    font-size: $font-size-s;
    text-align: center;
  }

  &__icon {
    background-color: #ff0;
    margin-bottom: 20px;
  }

}
