.field-text {
  width: 100%;
  display: block;
  position: relative;
  padding: 18px 0 0;
  font-family: Montserrat, sans-serif;

  &__input {
    display: inline-block;
    height: 32px;
    margin: 0;
    width: 100%;
    border: none;
    padding: 6px 0;
    border-bottom: 4px solid $gray-light;
    background-color: $gray-lightest;
    font-size: $font-size;
    line-height: 1;
    color: $text-color;
    transition: all 0.3s;

    &:focus,
    &:hover {
      outline: none;
      border-bottom-color: $main-color;
    }

    &::placeholder {
      color: $gray;
      opacity: 1;
    }

  }

  &__message {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    font-size: $font-size-s;
    line-height: 1;
    color: $danger-color;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  &_error {

    .field-text__input {
      border-bottom-color: $danger-color;
    }
  }
}
