.gift-book {
  margin-left: 30px;
  font-family: Montserrat, sans-serif;

  &__title {
    font-size: $font-size;
    font-weight: 700;
  }

  &__description {
    font-size: $font-size;
    line-height: 1.7;
    margin-bottom: 40px;
  }
}
