.main-navigation {

  a {
    text-decoration: none;
    color: #000;
  }

  &__burger {
    border: none;
    width: 20px;
    height: 2px;
    background-color: #000;

    &:before {
      width: 20px;
      height: 2px;
      background-color: #000;
      margin-top: 4px;
    }

    &:after {
      width: 20px;
      height: 2px;
      background-color: #000;
      margin-top: 4px;
    }

    // &:hover {
    //   background-color: $main-color;
    //   border-color: #000;
    //
    //   &:before {
    //     border-color: #000;
    //   }
    // }
  }

  &__list {

    &:before {
      width: 195px;
      height: 140px;
      background-color: rgba(244,212,228,0.9);
    }


    @media (min-width: $screen-s) {
      right: auto;
      width: 200px;
    }

  }

  &__item {
    display: inline;
    font-size: $font-size;
    margin-right: 50px;
    font-size: $font-size-s;
    font-weight: 700;
    text-transform: lowercase;

    &_phone {
      display: none;
    }
  }

  &:hover {
    a {
      color: $main-color;
      transition: 0.5s;
    }
  }

}

// @media screen and (min-width: 768px) {
//   .main-navigation__burger {
//     display: none;
//   }
// }
