.main-navigation-footer {
  display: inline-block;

  a {
    text-decoration: none;
    color: #000;
  }

  &__list {
    display: flex;
  }

  &__item {
    list-style-type: none;
    font-size: $font-size;
    font-size: $font-size-s;
    font-weight: 700;
    text-transform: lowercase;
    margin: 0;
    margin-right: 50px;

    &:hover {
      a {
        color: $main-color;
        transition: 0.5s;
      }
    }
  }

  &__item-books {
    display: none;

    @media (min-width: $screen-s) {
      display: block;
    }
  }

  &__item-recomend {
    display: none;

    @media (min-width: $screen-s) {
      display: block;
    }
  }

  &__item_contacts {
  }


}
