.recomend {
  max-width: 300px;
  margin: auto;
  font-family: Montserrat, sans-serif;

  @media (min-width: $screen-s) {
    max-width: 728px;
    margin: auto;
  }

  @media (min-width: $screen-m) {
    max-width: 952px;
    margin: auto;
  }

  @media (min-width: $screen-l) {
    max-width: 1200px;
    margin: auto;
  }

  a {
    text-decoration: none;
  }

  &__container {
    margin-bottom: 10%;

    @media (min-width: $screen-s) {
      display: flex;
    }

    @media (min-width: $screen-l) {
      display: flex;
    }
  }

  &__gift-book {
    margin-left: 30px;

    &__title {
      font-size: $font-size;
      font-weight: 700;
    }

    &__description {
      font-size: $font-size;
      line-height: 1.7;
      margin-bottom: 40px;
    }
  }

  &__wrapper {

    @media (min-width: $screen-s) {
      display: grid;
      grid-row-gap: 15px;
      max-width: 640px;
      grid-template-columns: 1fr 1fr;
      grid-template-rows: repeat(4, 240px);
      grid-column-gap: 15px;
      grid-template-areas:
      "blog bestBook"
      "photoes vout"
      "photoes kidsBooks"
      "oldBooks oldBooks";
    }

    @media (min-width: $screen-l) {
      display: grid;
      grid-row-gap: 15px;
      max-width: 1200px;
      grid-template-columns: 1fr 1fr 1fr;
      grid-template-rows: repeat(4, 190px);
      grid-column-gap: 15px;
      grid-template-areas:
      "blog bestBook bestBook"
      "photoes bestBook bestBook"
      "photoes vout kidsBooks"
      "oldBooks oldBooks oldBooks";
    }
  }

  &__blog {
    grid-area: blog;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(64,66,172,0.35);
    padding: 10px 20px 25px;

    @media (min-width: $screen-s) {
      margin-bottom: 0px;
    }

    @media (min-width: $screen-l) {
      margin-bottom: 0px;
    }
  }

  &__subtitle {
    font-size: $font-size;
    font-weight: 700;
  }

  &__description {
    font-size: $font-size;
    line-height: 1.7;
  }

  &__link {
    font-size: $font-size;
    color: $link-color;
    text-decoration: none;
    font-weight: 700;
  }

  &__vout {
    grid-area: vout;
    margin-bottom: 30px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(64,66,172,0.35);
    padding: 10px 20px 15px;

    @media (min-width: $screen-s) {
      margin-bottom: 0px;
    }

    @media (min-width: $screen-l) {
      margin-bottom: 0px;
    }
  }

  &__btn {
    width: 100%;
    height: 50px;
    font-size: $font-size-s;
    font-weight: 700;
  }

  &__kids-books {
    grid-area: kidsBooks;
    margin-bottom: 30px;
    background-color: $main-color;
    border-radius: 5px;
    box-shadow: 0 4px 10px 0 rgba(64,66,172,0.35);
    padding: 10px 20px 15px;
    color: #fff;

    @media (min-width: $screen-s) {
      margin-bottom: 0px;
    }

    @media (min-width: $screen-l) {
      margin-bottom: 0px;
    }
  }

  &__subtitle-inverse {
    font-size: $font-size;
    font-weight: 700;
  }

  &__description-inverse {
    font-size: $font-size;
    line-height: 1.7;
  }

  &__banner {
    display: flex;
    border-radius: 5px;
    margin-bottom: 30px;
    box-shadow: 0 4px 10px 0 rgba(64,66,172,0.35);
    padding: 10px 30px 15px;
    background-color: $main-color;
    color: #fff;
    text-align: center;
    background-size: cover;

    &_best-book {
      grid-area: bestBook;
      background-image: url('../img/autumn-book.jpg');
      display: block;
    }

    &_photoes {
      grid-area: photoes;
      background-image: url('../img/photos-compilation.jpg');
    }

    &_old-books {
      grid-area: oldBooks;
      background-image: url('../img/old-books.jpg');
      display: block;
    }

    @media (min-width: $screen-s) {
      margin-bottom: 0px;
    }

    @media (min-width: $screen-l) {
      margin-bottom: 0px;
    }
  }

  &__title-banner {
    align-self: center;

    &_best-book {
      align-self: flex-start;
    }

    &_old-books {
      margin-top: 40px;
    }
  }

  &__subtitle-banner {
    font-size: $font-size-m;
  }

  &__description-banner {
    font-size: $font-size;
  }

  &__best-book-img {
    width: 100%;
    height: 100%;
  }

}
