.slide {

  &__description {
    font-size: $font-size;
  }

  &__title {
    font-size: 40px;
  }

  &__list {
    margin-top: 22px;
  }

  &__link {
    color: $link-color;
    text-decoration: none;
  }

}
