.tabs {
  display: flex;
  flex-wrap: nowrap;
  width: 100%;
  background: #e8e8e8;
  margin-bottom: 50px;

  a {
    text-decoration: none;
    color: #000;
  }

  &__list {

    @media (min-width: $screen-s) {
      padding-right: 20px;
    }
  }

  &__item {
    position: relative;
    display: inline;
    font-size: $font-size;
    margin-right: 20px;
    line-height: 2.5;

    @media (min-width: $screen-s) {
      margin-right: 50px;
    }

    &_active {
      a {
        color: $link-color;
      }

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 30px;
        height: 2px;
        top: 24px;
        background-color: $main-color;
      }
    }

    &:hover {
      a {
        color: $link-color;
        transition: 0.3s;
      }
    }
  }
}
