.tabs {
  width: 100%;
  height: 50px;
  background: #e8e8e8;
  margin-bottom: 50px;

  a {
    text-decoration: none;
    color: #000;
  }

  &__list {
    padding-top: 20px;
  }

  &__item {
    position: relative;
    display: inline;
    font-size: $font-size;
    margin-right: 50px;

    &_active {
      a {
        color: $link-color;
      }

      &:before {
        display: block;
        position: absolute;
        content: '';
        width: 30px;
        height: 2px;
        top: 38px;
        background-color: $main-color;
      }
    }

    &:hover {
      a {
        color: $link-color;
        transition: 0.5s;
      }
    }
  }
}
