extends ../pug/layout.pug

block meta
  title Книга
  meta(name='description', content='')

block content
  section.book
    .book-preview
      img.book-preview__img(src='img/book-superpotrebiteli.jpg', alt='Суперпотребители')
      .book-preview__example
        img.example(src='img/book-example.jpg', alt='Суперпотребители')
        img.example(src='img/book-example.jpg', alt='Суперпотребители')
        img.example(src='img/book-example.jpg', alt='Суперпотребители')
    .book-info
      p.book-info__subtitle Эдди Юн
      h1.book-info__title Суперпотребители
      p.book-info__description Кто это и почему они так важны для вашего бизнеса
    .book-details
      ul.book-details__list
        li.book-details__item Артикул
        li.book-details__item В наличии
        li.book-details__item Издательство
        li.book-details__item Цена
      ul.book-details__list
        li.book-details__item 1090763
        li.book-details__item 5 шт.
        li.book-details__item Издал
        li.book-details__item 800 Р
    .book-action
      button.btn.book-action__button(area-label='Добавить в корзину') Добавить в корзину
      .book-action__number
        p 1
        p шт.
      .book-action__like
        svg(width='24', height='24')
        p 20 людям понравилась эта книга
    .book-description
      p.book-description__title Краткое описание
      p.book-description__text В отличие от обычных покупателей суперпотребители очень заинтересованы в ваших товарах, а возможно, даже слегка помешаны на них.
      p.book-description__text Они знают о кроссовках всё и имеют десятки пар. Они спортивные фанаты c копиями футболок любимой команды, а стены их гаражей украшены подписанной символикой.
      //- Сделать блок
      .book-description__read-more
      a(href='index.html') Показать полностью
      svg(width='16', height='16')
      .book-description__social
        .facebook
          svg(width='16', height='16')
          p 15
        .vk
          svg(width='16', height='16')
          p 4
        .like
          svg(width='16', height='16')
          p 150
        .dislike
          svg(width='16', height='16')
          p 0
  section.other-books
    h2 Книги по тематике
    a(href='new.html') Книги по тематике
    +mini-card( 'Название книги', 'book.html', 'img/lat-logic.jpg', 'Описание', '')
    +mini-card( 'Второе название книги', 'book.html', 'img/lat-logic.jpg', 'Описание', '')
    +mini-card( 'Название книги', 'book.html', 'img/lat-logic.jpg', 'Описание', '')
    +mini-card( 'Название книги', 'book.html', 'img/lat-logic.jpg', 'Описание', '')
  section.banner
    img.banner__img(src='img/biblio-banner.png', alt='Мы открыли для вас библиотеку')
    svg(width='80', height='80')
    h3.banner__title Мы открыли для вас уютную библиотеку
    p.banner__description Приходите к нам по адресу Никитская 10, каждый день с 12:00 до 18:00
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
            
