extends ../pug/layout.pug

block meta
  title Книга
  meta(name='description', content='')

block content
  section.book
    .book__preview
      img.book__img(src='img/books/book-superpotrebiteli.jpg', alt='Суперпотребители')
    .book__example
      img.book__page(src='img/book-example.jpg', alt='Суперпотребители1')
      img.book__page(src='img/book-example.jpg', alt='Суперпотребители2')
      img.book__page(src='img/book-example.jpg', alt='Суперпотребители3')
    .book__info
      p.book__subtitle Эдди Юн
      h1.book__title Суперпотребители
      p.book__description Кто это и почему они так важны для вашего бизнеса
    .book__details
      table.book__table
        tr.book__column
          td.book__item Артикул
          td.book__item В наличии
          td.book__item Издательство
          td.book__item Цена
        tr.book_column
          td.book__item 1090763
          td.book__item 5 шт.
          td.book__item Издал
          td.book__item 800 Р
    .book__action
      button.btn Добавить в корзину
      .book__number
        input.field-text.field-text_number
        span.book__sum шт.
      .book__like
        svg(width='24', height='24')
        p.book__like-subtitle 20 людям понравилась эта книга
  section.book-description
    h1.title-hidden Описание книги
    h3.book-description__title Краткое описание
    p.book-description__text В отличие от обычных покупателей суперпотребители очень заинтересованы в ваших товарах, а возможно, даже слегка помешаны на них.
    p.book-description__text Они знают о кроссовках всё и имеют десятки пар. Они спортивные фанаты c копиями футболок любимой команды, а стены их гаражей украшены подписанной символикой.
    .book__read-more
      button.btn.book__button-more Показать полностью
      svg(width='16', height='16')
    .book__social
      button.btn.book__button-facebook Показать полностью
        svg(width='16', height='16')
        span 15
      button.btn.book__button-vk
        svg(width='16', height='16')
        span 4
      button.btn.book__button-like
        svg(width='16', height='16')
        span 150
      button.btn.book__button-dislike
        svg(width='16', height='16')
        span 0
  section.book-shelf
    h2.book-shelf__title Книги по тематике
    a(href='new.html') Книги по тематике
    .new__item
      +mini-card( 'Название книги', 'book.html', 'img/books/lat-logic.jpg', 'Описание', '')
    .new__item
      +mini-card( 'Второе название книги', 'book.html', 'img/books/lat-logic.jpg', 'Описание', '')
    .new__item
      +mini-card( 'Название книги', 'book.html', 'img/books/lat-logic.jpg', 'Описание', '')
    .new__item
      +mini-card( 'Название книги', 'book.html', 'img/books/lat-logic.jpg', 'Описание', '')
  section.banner
    img.banner-img(src='img/banner-bg.jpg', alt='Мы открыли для вас уютную библиотеку')
    svg(width='80', height='80')
    h3.banner__title Мы открыли для вас уютную библиотеку
    p.banner__description Приходите к нам по адресу Никитская 10, каждый день с 12:00 до 18:00
            
