extends ../pug/layout.pug

block meta
  title Контакты
  meta(name='description', content='')

block content
  section.contacts
    h1.contacts__title Контакты
    ul.contacts__list
      li.contacts__item Набережная реки фонтакни, 202
      li.contacts__item с 9:00 до 19:00 ежедневно
      li.contacts__item +7 (911) 123 45 67
    img.contacts__map(src='img/map.jpg', alt='Карта')
  form.form
    h2.form__title Есть вопросы?
    .form__description
      p Напишите нам на почту. Отвечаем в течении дня.
    .form__container
      .field-text.field-text_error
        input.field-text__input(type='email', placeholder='Ваша почта')
        .field-text__message Вы не ввели почту
      .field-text
        input.field-text__input(type='text', placeholder='Сообщение')
      .field-checkbox.field-checkbox_error.form__checkbox
        input.field-checkbox__input(type='checkbox', id='agreement')
        label.field-checkbox__pseudo-checkbox(for='agreement')
        span.field-checkbox__text #[label(for='agreement') Я согласен(-на) с] #[a(href='') политикой конфиденциальности] и #[a(href='') правилами обработки данных]
        .field-checkbox__message Нужно согласиться с условиями, поставив галочку
      .field-action.form__action
        button.btn Отправить
  section.banner
    img.banner__img(src='img/banner-bg.jpg', alt='Мы открыли для вас уютную библиотеку')
    svg(width='80', height='80')
    h3.banner__title Мы открыли для вас уютную библиотеку
    p.banner__description Приходите к нам по адресу Никитская 10, каждый день с 12:00 до 18:00
