extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

block content
  h1 Заголовок
  +mini-card( 'Название книги', 'book.html', 'img/lat-logic.jpg', 'Описание', '500 ₽')
  +mini-card( 'Второе название книги', 'book.html', 'img/lat-logic.jpg', '', '100 ₽')
