extends ../pug/layout.pug

block meta
  title Главная
  meta(name='description', content='')

block content
  section.slider
    h1.title-hidden Новые книги в каталоге Book Store
    +slide('Новое поступление книги "Симпсоны и их математические секреты"',
    'Для поклонников сериала "Симпсоны" и для всех, кому интересна математика',
    'book.html',
    'img/simpsony.jpg')
    button.slider__arrow Предыдущий слайдер
    button.slider__arrow Следующий слайдер
  section.book-list
    .tags
      ul.tags__list
        li.tags__item.tags_active 
          a(href='all.html') Все
        li.tags__item
          a(href='marketing.html') Маркетинг
        li.tags__item
          a(href='scifi.html') Научпоп
        li.tags__item
          a(href='business.html') Бизнес
        li.tags__item
          a(href='art.html') Творчество
    //скрыть заголовок
    h1.title-hidden Список всех книг магазина
    .book-list__item
      +mini-card( 'Латеральная логика', 'book.html', 'img/books/book-lateralnaya-logika.jpg', 'Головоломный путь к нестандартному мышлению', '500 ₽')
    .book-list__item
      +mini-card( 'Путеводитель по лжи', 'book.html', 'img/books/book-putevoditel-po-lzhi.jpg', 'Критическое мышление в эпоху постправды', '630 ₽')
    .book-list__item
      +mini-card( 'Дао физики', 'book.html', 'img/books/book-dao-fiziki.jpg', 'Исследование параллелей между современной физикой и восточной философией', '560 ₽')
    .book-list__item
      +mini-card( 'Не очевидно', 'book.html', 'img/books/book-ne-ochevidno.jpg', 'Как выявлять тренды раньше других', '365 ₽')
    .book-list__item
      +mini-card( 'Суперпотребители', 'book.html', 'img/books/book-superpotrebiteli.jpg', 'Кто это и почему они так важны для вашего бизнеса', '500 ₽')
    .book-list__item
      +mini-card( 'Маркетинг в социальных сетях', 'book.html', 'img/books/book-social-media-marketing.jpg', '', '630 ₽')
    .book-list__item
      +mini-card( 'Правильный выбор', 'book.html', 'img/books/book-pravilnyij-vyibor.jpg', 'Практическое руководство по принятию взвешенных решений', '560 ₽')
    .book-list__item
      +mini-card( 'Главное в истории искусств', 'book.html', 'img/books/book-glavnoe-v-istorii-iskusstv.jpg', 'Ключевые работы, темы, направления, техники', '365 ₽')
    nav.pagination
      ul.pagination__list
        li.pagination__item.pagination_active
          a(href='page1.html') 1
        li.pagination__item
          a(href='page2.html') 2
        li.pagination__item
          a(href='page3.html') 3
        li.pagination__item
          a(href='page4.html') 4
        li.pagination__item
          a(href='page5.html') 5
        li.pagination__item
          span ...
        li.pagination__item
          a(href='page10.html') 10
  section.delivery
    h2 Доставка в любое место
    p.delivery__subtitle // ну почти в любое
    .delivery__item
      svg(width='80', height='80')
      p.delivery-item__description Покупаете книги на сайте в любом формате — бумажные, электронные или аудио.
    .delivery__item
      svg(width='80', height='80')
      p.delivery-item__description Мы подарим вам "Набор читателя" и добавим в посылку.
    .delivery__item
      svg(width='80', height='80')
      p.delivery-item__description Бесплатно доставляем заказы от 3 000 ₽ по всей России.
    .delivery__item
      svg(width='80', height='80')
      p.delivery-item__description Доставка в более чем 300 городов России. По Москве и Санкт-Петербургу — бесплатно.
  section.new
    h2.new__title Наши новинки
    a(href='new.html') Все новинки
    .book-list__item
      +mini-card( 'Латеральная логика', 'book.html', 'img/books/book-lateralnaya-logika.jpg', 'Головоломный путь к нестандартному мышлению', '500 ₽')
    .book-list__item
      +mini-card( 'Путеводитель по лжи', 'book.html', 'img/books/book-putevoditel-po-lzhi.jpg', 'Критическое мышление в эпоху постправды', '630 ₽')
    .book-list__item
      +mini-card( 'Дао физики', 'book.html', 'img/books/book-dao-fiziki.jpg', 'Исследование параллелей между современной физикой и восточной философией', '560 ₽')
    .book-list__item
      +mini-card( 'Не очевидно', 'book.html', 'img/books/book-ne-ochevidno.jpg', 'Как выявлять тренды раньше других', '365 ₽')
