extends ../pug/layout.pug

block meta
  title Рекомендации
  meta(name='description', content='')

block content
  section.recomendations
    h1.recomendations__title Наши рекомендации
    
    article.recomendations__card
      h2.recomendations__title_small Новая статься в блоге
      p.reconemdatios__description_small Посмотрите, как чтение книг меняет вопсриятие человека
      a(href='blog-article.html') Читать статью
    
    article.recomendations__card_banner
      a.recomendations__container(href='rec2.html')
        img.recomendations__img
        h2.recomendations__title_default Книга осени
        p.recomendations__description_default Проголосуй за лучшую книгу этой осени
    
    article.recomendations__card_banner
      a.recomendations__container(href='rec3.html')
        img.recomendations__img
        h3.recomendations__title_default Наши подборки ваших лучших фотографий у нас
    
    article.recomendations__card
      h2.recomendations__title_small Нам важно ваше мнение
      p.recomendations__description_small Ставьте пальцы вверх, мы хотим знать ваше мнение
      a.recomendations__action Проголосовать
    
    article.recomendations__card_color
      h2.recomendations__title_small Книги для детей
      p.recomendations__description_small У нас появился новый раздел, в котором мы подбираем книги для юных читателей
      a(href='rec5.html') Посмотреть раздел
    
    article.recomendations__card_banner
      a.recomendations__container(href='rec6.html')
        img.recomendations__img
        h3.recomendations__title_default У вас есть старые книги?
        p.recomendations__description_default Приносите их нам и обменивайте на новые
    
    article.gift-book
      h3.gift-book__title Книга в подарок!
      p.gift-book__description При вашем новом заказе мы подарим вам книгу.
      +mini-card( 'Путеводитель по лжи', 'book.html', 'img/books/lat-logic.jpg', 'Описание', '')
  section.banner
    .banner__container
      .banner__vector
      span.banner__title Мы открыли для вас уютную библиотеку
      span.banner__description Приходите к нам по адресу Никитская 10, каждый день с 12:00 до 18:00
