extends ../pug/layout.pug

block meta
  title Рекомендации
  meta(name='description', content='')

block content
  section.recomend
    h1.recomend__title Наши рекомендации
    .recomend__container
      .recomend__wrapper
        .recomend__blog
          h2.recomend__subtitle Новая статься в блоге
          p.recomend__description Посмотрите, как чтение книг меняет вопсриятие человека
          a.recomend__link(href='blog-article.html') Читать статью

        a.recomend__banner.recomend__banner_best-book(href='best-book.html')
          h2.recomend__title-banner.recomend__title-banner_best-book Книга осени
          p.recomend__description-banner Проголосуй за лучшую книгу этой осени

        a.recomend__banner.recomend__banner_photoes(href='photoes.html')
          h2.recomend__title-banner.recomend__title-banner_photoes Наши подборки ваших лучших фотографий у нас

        .recomend__vout
          h2.recomend__subtitle Нам важно ваше мнение
          p.recomend__description Ставьте пальцы вверх, мы хотим знать ваше мнение
          button.btn.recomend__btn Проголосовать

        .recomend__kids-books
          h2.recomend__subtitle-inverse Книги для детей
          p.recomend__description-inverse У нас появился новый раздел, в котором мы подбираем книги для юных читателей

        a.recomend__banner.recomend__banner_old-books(href='old-books.html')
          h2.recomend__title-banner_old-books У вас есть старые книги?
          p.recomend__description-banner Приносите их нам и обменивайте на новые

      .recomend__gift-book
        h2.gift-book__title Книга в подарок!
        p.gift-book__description При вашем новом заказе мы подарим вам книгу.
        +mini-card( 'Путеводитель по лжи', 'book.html', 'img/books/book-putevoditel-po-lzhi.jpg', 'Критическое мышление в эпоху постправды', '')

    +banner
