$main-color:          #d7569c;
$warning-color:       #fdc05d;
$danger-color:        #d90000;

$gray-lightest:       #f5f5f5;
$gray-lighten:        #e8e8e8;
$gray-light:          #d0d0d0;
$gray-dark:           #231f20;
$gray:                #a6a6a6;

$text-color:          #000000;
$link-color:          #1a1ff7;
$link-color-hover:    #6c73ff;

$font-family:         -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
$font-size:           16px;
$font-size-s:         14px;
$font-size-m:         24px;
$font-size-l:         30px;
$font-size-xl:        36px;

$line-height:         1.4;

$screen-xs:          320px;
$screen-s:           768px;
$screen-m:           992px;
$screen-l:           1280px;

$border-radius:       2px;
